body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 游ゴシック;
  margin: 0 20px;
}

summary {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 2px 0;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  --clay-shadow-inset-primary: 0;
  --clay-border-radius: 25px;
}

summary:hover {
  background-color: #ccc;
}

p {
  margin-left: 2px;
}

img {
  max-width: 100%;
}

.card {
  /* clay.cssのプロパティを上書き */
  --clay-background: #f76d6d;
  --clay-border-radius: 48px;

  /* 拡張スタイル */
  color: #f1f1f1;
  padding: 48px;
}

/*clayプロパティ一覧
 --clay-background
--clay-border-radius
--clay-shadow-outset
--clay-shadow-inset-primary
--clay-shadow-inset-secondary 
*/
