body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 游ゴシック;
  margin: 0 20px;
  color: #444;

}

summary {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 2px 0;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  --clay-shadow-inset-primary: 0;
  --clay-border-radius: 25px;
}

summary:hover {
  background-color: #ccc;
  /* font-weight: bold; */
}

p {
  margin-left: 24px;
}

img {
  max-width: 100%;
}

.card {
  /* clay.cssのプロパティを上書き */
  --clay-background: #f76d6d;
  --clay-border-radius: 48px;

  /* 拡張スタイル */
  color: #f1f1f1;
  padding: 48px;
}

/*clayプロパティ一覧
 --clay-background
--clay-border-radius
--clay-shadow-outset
--clay-shadow-inset-primary
--clay-shadow-inset-secondary 
*/

table {
  border-collapse: collapse;
  border: 2px solid #444;
  max-width: 100%;
  margin-left: 24px;
}

th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #444;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #ccc;
}
tr:nth-child(odd) {
  background-color: #fff;
}
td {
  border: 1px solid #444;
}